server:
  port: 8081
  servlet:
    context-path: /
logging:
  level:
    root: info # 默认的全局日志级别
    org.springframework.web: debug # web相关的日志级别
  #日志存放的路径
  file:
    path: /data/log
  logback:
    rolling-policy:
      max-file-size: 100MB
      max-history: 30
spring:
  redis:
    host: ${REDIS_HOST:127.0.0.1}
    port: ${REDIS_PORT:6379}
    database: 0
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:127.0.0.1}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:kagarino_db}?useUnicode=true&characterEncoding=utf8
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver
